.product-main-container {
  background-color: white;
  margin: 5rem;
  margin-top: 2rem;
}

.product-info {
  padding: 1rem;
}

.product-gallery-logo {
  display: block;
  margin: 10px auto;
}

.app-product-gallery-container {
  margin-top: 1rem;
}

@media screen and (max-width: 1400px) {
  .product-main-container {
    background-color: white;
    margin: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .product-main-container {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

