.product-gallery-header {
  padding: 1rem;
}

.gallery-image {
  height: 50px;
}

.hide-this-element {
  display: none;
}

.product-gallery-logo {
  width: 80px; 
  height: 80px;
}

@media screen and (max-width: 1024px) {
  .product-gallery-header {
    display: none;
  }
}
