<div>
  <ng-container *ngIf="!this.dataService.getLoading()">
    <vcl-gallery [selectedImage]="imageIndex">
      <ng-container *ngFor="let image of this.dataService.getCurrentImageArray()">
        <vcl-gallery-image [image]="image.src" [thumbnail]="image.srcThumb" [alt]="image.alt"></vcl-gallery-image>
      </ng-container>
      <div #pictures>
        <vcl-gallery-body></vcl-gallery-body>
      </div>
      <vcl-gallery-thumbnails class="gallery-thumbs column"></vcl-gallery-thumbnails>
    </vcl-gallery>
  </ng-container>

  <button vcl-button  (click)="inlineLayer.open({data: { title: '' }, closeOnBackdropClick: true})">
    <vcl-icogram>
      <vcl-icon icon="fas:search-plus"></vcl-icon>
    </vcl-icogram>
  </button>
  
  <ng-template vclLayer #inlineLayer="vclLayer">
    <vcl-panel-dialog [showCloseButton]="true" (close)="inlineLayer.close()">
      <vcl-panel-title></vcl-panel-title>
      <app-product-zoom class="row center" [imageArray]="this.dataService.getCurrentImageArray()" [(zoom)]="zoomImage" [imageIndex]="imageIndex" [zoomOutWidth]="productZoomContainerWidth"></app-product-zoom>
    </vcl-panel-dialog>
  </ng-template>
</div>