<section class="content-area" role="main">
  <h1>{{ "Footer.CustomerService" | translate }}</h1>
  <h2>{{ "ClickAndCollect.OurService" | translate }}</h2>
  <h4>{{ "ClickAndCollect.ClickAndCollect" | translate }}</h4>
  <p>{{ "ClickAndCollect.ShopOnline" | translate }}</p>
  <p>{{ "ClickAndCollect.YouDontHaveToBeAtHome" | translate }}</p>
  <h3>{{ "ClickAndCollect.HowItWorks" | translate }}</h3>
  <h4>1. {{ "ClickAndCollect.OnlineShopping" | translate }}</h4>
  <p>{{ "ClickAndCollect.DiscoverLatest" | translate }}</p>
  <h4>2. {{ "ClickAndCollect.SelectStore" | translate }}</h4>
  <p>{{ "ClickAndCollect.SelectTab" | translate }}</p>
  <p>{{ "ClickAndCollect.WhenYouPickUp" | translate }}</p>
  <h4>3.{{ "ClickAndCollect.CollectOrder" | translate }}</h4>
  <p>{{ "ClickAndCollect.AsSoonAsOrderArrives" | translate }}</p>
  <p>{{ "ClickAndCollect.OrdersAreDelivered" | translate }}</p>
</section>
