<button type="button" class="button transparent">
  <div class="icogram">
    <div
      class="icon mdi mdi-home-outline large-icon"
      aria-hidden="true"
      role="img"
    ></div>
  </div>
</button>
<button type="button" class="button transparent">
  <div class="icogram">
    <div
      class="icon mdi mdi-account-outline large-icon"
      aria-hidden="true"
      role="img"
    ></div>
  </div>
</button>
<button type="button" class="button transparent">
  <div class="icogram">
    <div
      class="icon mdi mdi-earth large-icon"
      aria-hidden="true"
      role="img"
      (click)="menuLayer.close(); languageLayer.open()"
    ></div>
  </div>
</button>

<button type="button" class="button transparent cart-icon-container">
  <div class="icogram">
    <div
      class="icon mdi mdi-cart-outline large-icon"
      aria-hidden="true"
      role="img"
      (click)="menuLayer.close(); cartLayer.open()"
    ></div>
  </div>
  <vcl-badge
    class="cart-count-badge"
    vclRounded
    *ngIf="this.cartService.getCartItemCount() > 0"
    >{{ this.cartService.getCartItemCount() }}</vcl-badge
  >
</button>
