.cookie-container {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 1.5rem;
  width: 50%;
  margin: auto;
  position: relative;

  .globe-icogram {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    .icon {
      font-size: 24px;
    }
  }

  .subtitle {
    font-weight: 800;
  }

  .description {
    font-size: 1.05rem;
    color: #444;
  }

  .button-container {
    .save {
      width: 100%;
      font-size: 1rem;
    }

    .save-options {
      background-color: #eee;
      border: 1px solid #bbb;
      color: #111;
    }
  }
}
