<section class="content-area" role="main">
  <h1>{{ "Profile.Title" | translate }}</h1>
  <hr>
  <div class="row">
    <div class="flex-5">
      <h2>{{ "Profile.Register" | translate }}</h2>
      <p>{{ "Profile.PleaseEnterYour" | translate }}</p>
      <vcl-form-control-group>
        <vcl-label>*{{ "Profile.Email" | translate }}</vcl-label>
        <vcl-input-field>
          <input vclInput [(ngModel)]="email" />
          <button vcl-button square>
            <vcl-icon icon="mdi:close"></vcl-icon>
          </button>
        </vcl-input-field>
      </vcl-form-control-group>
      <vcl-form-control-group>
        <vcl-label>*{{ "Profile.Password" | translate }}</vcl-label>
        <vcl-password-input>
          <input vclInput [(value)]="password" placeholder="*Passwort">
        </vcl-password-input>
      </vcl-form-control-group>
      <vcl-checkbox [(checked)]="remember">{{ "Profile.SaveEmailAdress" | translate }}</vcl-checkbox>
      <div class="align-right">
        <button vcl-button>
          <vcl-icogram>
            {{ "Profile.Register" | translate }}
          </vcl-icogram>
        </button>
      </div>
    </div>
    <div class="flex-2">
    </div>
    <div class="flex-5">
      <h2>{{ "Profile.CreateAnAccount" | translate }}</h2>
      <p>{{ "Profile.CreateAccounntAndEnjoy" | translate }}:</p>
      <ul class="list">
        <li class="list-item">{{ "Profile.FasterPayment" | translate }}</li>
        <li class="list-item">{{ "Profile.ViewOrderStatus" | translate }}</li>
        <li class="list-item">{{ "Profile.GetOrderHistory" | translate }}</li>
        <li class="list-item">{{ "Profile.SaveSeveralDelivery" | translate }}</li>
        <li class="list-item">{{ "Profile.AllTheAdvantages" | translate }}</li>
      </ul>
      <div class="align-right">
        <button vcl-button>
          <vcl-icogram>
            {{ "Profile.Continue" | translate }}
          </vcl-icogram>
        </button>
      </div>
    </div>
  </div>
</section>
