<div class="product-navigation-container">
  <div class="row">
    <div class="flex-8-md flex-12 align-left">
      <h4>
        <a href="">{{ "ProductNavigation.Back" | translate }}</a> |
        <a href="">{{ "ProductNavigation.Home" | translate }}</a> <vcl-icon icon="mdi mdi-chevron-right"></vcl-icon>
        <a href="">{{ "ProductNavigation.Men" | translate }}</a> <vcl-icon icon="mdi mdi-chevron-right"></vcl-icon>
        <a href="">{{ "ProductNavigation.Shoes" | translate }}</a> <vcl-icon icon="mdi mdi-chevron-right"></vcl-icon>
        <a href="">{{ "ProductNavigation.Sneakers" | translate }}</a> <vcl-icon icon="mdi mdi-chevron-right"></vcl-icon>
        <a>{{ "ProductNavigation.Product" | translate }}</a>
      </h4>
    </div>
    <div class="flex align-right product-share-button">
      <button type="button" class="button transparent">
        <div class="icogram">
          <span class="text">{{ "ProductNavigation.Share" | translate }}</span>
          <div class="icon mdi mdi-share-variant" aria-hidden="true" role="img"></div>
        </div>
      </button>
    </div>
  </div>
</div>
