<vcl-panel panel-card class="product-card">
  <vcl-panel-title class="product-card__title">
    <vcl-label class="title">
      {{ product.additionalLabel }}
    </vcl-label>
    <vcl-icon
      icon="fas fa-heart"
      [class.liked]="product.like"
      (click)="onLikeProduct()"
      alt="like"
    ></vcl-icon>
  </vcl-panel-title>
  <picture class="image-wrapper">
    <source
      class="image"
      *ngFor="let media of responsiveImagesConfiguration"
      [media]="
        '(max-width: ' + media.max + 'px) and (min-width: ' + media.min + 'px)'
      "
      [srcset]="product.images[product.selectedColor]"
      [type]="'image/' + media.format"
    />
    <img
      class="product-card__image"
      alt="product image"
      [src]="product.images[product.selectedColor]"
    />
  </picture>
  <div
    class="row center justify-center spinner-wrapper"
    *ngIf="!product.images[product.selectedColor]"
  >
    <i class="fas fa-spinner spinner"></i>
  </div>
  <vcl-panel-footer>
    <app-product-color-picker></app-product-color-picker>

    <vcl-label class="title">{{ product.title }}</vcl-label>
    <vcl-label class="description">{{
      product.price | currency: currency
    }}</vcl-label>
  </vcl-panel-footer>
</vcl-panel>
