.zoomImage {
  cursor: zoom-out;
}

.galleryBody {
  cursor: zoom-in;
}

.left {
  width: 100%;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  max-width: 300px;
  margin-left: 20px;
}

.maxHeight {
  max-height: 86vh;
}

.noMaxHeight {
  max-height: auto;
}