.footer-top-container {
  background-color: dimgray;
  padding-top: 2rem;
}

h2, h4 {
  color: white;
}

p {
  margin: 0;
  color: white;
}

.icon {
  color: white;
}

.icogram {
  cursor: pointer;
}

img {
  cursor: pointer;
}

.navigation-item-label {
  color: white;
  font-size: larger;
  background-color: transparent !important;
}

.navigation {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 0rem;
}