<h2 class="checkout-forms-header"><span class="header-num">01</span>{{ "Checkout.PersonalData" | translate }}</h2>
<h3 class="checkout-forms-sub-header">{{ "Checkout.ShipmentOptions" | translate }}</h3>

<vcl-tab-nav>
  <vcl-tab>
    <vcl-label>{{ "Checkout.HomeDelivery" | translate }}</vcl-label>
    <div class="content-container">
      <form [formGroup]="homeDeliveryForm" (ngSubmit)="homeDeliverySubmit()">
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Gender" | translate }}</vcl-label>
          <vcl-radio-group formControlName="gender">
            <vcl-radio-button value="m">
              <vcl-icogram>{{ "Checkout.Male" | translate }}<vcl-icon vclAppend icon="fas:mars"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="f">
              <vcl-icogram>{{ "Checkout.Female" | translate }}<vcl-icon vclAppend icon="fas:venus"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="g">
              <vcl-icogram>{{ "Checkout.Genderless" | translate }}<vcl-icon vclAppend icon="fas:genderless"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-hint-error error="required">{{ "Checkout.SelectGender" | translate }}</vcl-hint-error>
          </vcl-radio-group>      
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.FirstName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="firstName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.LastName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="lastName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.StreetName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="streetName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectStreet" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.HouseNumber" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="houseNumber">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectNumber" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.AdditionalAdress" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput>
          </vcl-input-field>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Postcode" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="postcode">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectPostcode" | translate }}</vcl-hint-error>
        </vcl-form-control-group>
        
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.City" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="city">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCity" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Country" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="country">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCountry" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>Mail</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="mail">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectMail" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.CreateAccount" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.DeliveryAdressIsSame" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>
        <input type="submit" class="go-to-payment" value='{{ "Checkout.ProceedToPayment" | translate }}'>
      </form>
    </div>
  </vcl-tab>
  <!--<vcl-tab>
    <vcl-label>{{ "Checkout.ParcelShop" | translate }}</vcl-label>
    <div class="content-container">
      <h4>{{ "Checkout.BillingAdress" | translate }}</h4>
      <form [formGroup]="parcelShopForm" (ngSubmit)="parcelShopSubmit()">
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Gender" | translate }}</vcl-label>
          <vcl-radio-group formControlName="gender">
            <vcl-radio-button value="m">
              <vcl-icogram>{{ "Checkout.Male" | translate }}<vcl-icon vclAppend icon="fas:mars"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="f">
              <vcl-icogram>{{ "Checkout.Female" | translate }}<vcl-icon vclAppend icon="fas:venus"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="g">
              <vcl-icogram>{{ "Checkout.Genderless" | translate }}<vcl-icon vclAppend icon="fas:genderless"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-hint-error error="required">{{ "Checkout.SelectGender" | translate }}</vcl-hint-error>
          </vcl-radio-group>      
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.FirstName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="firstName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.LastName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="lastName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.StreetName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="streetName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectStreet" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.HouseNumber" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="houseNumber">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectNumber" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.AdditionalAdress" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput>
          </vcl-input-field>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Postcode" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="postcode">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectPostcode" | translate }}</vcl-hint-error>
        </vcl-form-control-group>
        
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.City" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="city">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCity" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Country" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="country">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCountry" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>Mail</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="mail">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectMail" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.CreateAccount" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.DeliveryAdressIsSame" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>
        <h2>{{ "Checkout.PackingStation" | translate }}</h2>
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Gender" | translate }}</vcl-label>
          <vcl-radio-group formControlName="psGender">
            <vcl-radio-button value="m">
              <vcl-icogram>{{ "Checkout.Male" | translate }}<vcl-icon vclAppend icon="fas:mars"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="f">
              <vcl-icogram>{{ "Checkout.Female" | translate }}<vcl-icon vclAppend icon="fas:venus"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="g">
              <vcl-icogram>{{ "Checkout.Genderless" | translate }}<vcl-icon vclAppend icon="fas:genderless"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-hint-error error="required">{{ "Checkout.SelectGender" | translate }}</vcl-hint-error>
          </vcl-radio-group>      
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.FirstName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="psFirstName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.LastName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="psLastName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.PostNumber" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="psPostNumber">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectNumber" | translate }}</vcl-hint-error>
        </vcl-form-control-group>
        <input type="submit" class="go-to-payment" value='{{ "Checkout.ProceedToPayment" | translate }}'>
      </form>
    </div>
  </vcl-tab>
  <vcl-tab>
    <vcl-label>{{ "Checkout.ClickCollect" | translate }}</vcl-label>
    <div class="content-container">
      <h2 style="margin-bottom: 14px;">{{ "Checkout.ClickCollect" | translate }}</h2>
        <button class="find-store align-center">{{ "Checkout.ChooseAStore" | translate }}</button>
      <h2>{{ "Checkout.BillingAdress" | translate }}</h2>
      <form [formGroup]="clickAndCollectForm" (ngSubmit)="clickAndCollectSubmit()">
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Gender" | translate }}</vcl-label>
          <vcl-radio-group formControlName="gender">
            <vcl-radio-button value="m">
              <vcl-icogram>{{ "Checkout.Male" | translate }}<vcl-icon vclAppend icon="fas:mars"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="f">
              <vcl-icogram>{{ "Checkout.Female" | translate }}<vcl-icon vclAppend icon="fas:venus"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-radio-button value="g">
              <vcl-icogram>{{ "Checkout.Genderless" | translate }}<vcl-icon vclAppend icon="fas:genderless"></vcl-icon></vcl-icogram>
            </vcl-radio-button>
            <vcl-hint-error error="required">{{ "Checkout.SelectGender" | translate }}</vcl-hint-error>
          </vcl-radio-group>      
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.FirstName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="firstName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.LastName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="lastName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectName" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.StreetName" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="streetName">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectStreet" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.HouseNumber" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="houseNumber">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectNumber" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.AdditionalAdress" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput>
          </vcl-input-field>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Postcode" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="postcode">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectPostcode" | translate }}</vcl-hint-error>
        </vcl-form-control-group>
        
        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.City" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="city">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCity" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>{{ "Checkout.Country" | translate }}</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="country">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectCountry" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-label>Mail</vcl-label>
          <vcl-input-field>
            <input vclInput formControlName="mail">
          </vcl-input-field>
          <vcl-hint-error error="required">{{ "Checkout.SelectMail" | translate }}</vcl-hint-error>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.CreateAccount" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>

        <vcl-form-control-group>
          <vcl-checkbox>
            {{ "Checkout.DeliveryAdressIsSame" | translate }}
          </vcl-checkbox>
        </vcl-form-control-group>
        <input type="submit" class="go-to-payment" value='{{ "Checkout.ProceedToPayment" | translate }}'>
      </form>
    </div>
  </vcl-tab>
-->
</vcl-tab-nav>

