<div class="top-bar-container">
  <!-- the main nav bar! -->
  <div class="row justify-content-between align-items-center top-bar-nav">
    <div class="vertical-center home-icon-container">
      <div>
        <img
          class="logo"
          src="../../../assets/logos/restore_logo_wb.svg"
          alt="restorelogo"
          (click)="this.navigate('')"
        />
      </div>
    </div>
    <div class="vertical-center hamburger-icon-container">
      <button type="button" class="button transparent">
        <div class="icogram">
          <div
            class="icon mdi mdi-menu large-icon hamburger-icon"
            aria-hidden="true"
            role="img"
            (click)="menuLayer.open()"
          ></div>
        </div>
      </button>
    </div>
    <div class="vertical-center men-women-container">
      <ng-container>
        <h4>{{ "Men" | translate }}</h4>
        <h4>{{ "Women" | translate }}</h4>
      </ng-container>
    </div>
    <div class="align-right top-bar-search-container">
      <vcl-icon icon="mdi:magnify" class="search-icon"></vcl-icon>
      <input class="top-bar-search" placeholder="Search" />
    </div>
    <div class="vertical-center">
      <button type="button" class="button nav-icon-container transparent">
        <div class="icogram">
          <div
            class="icon mdi mdi-earth large-icon nav-icon"
            aria-hidden="true"
            role="img"
            (click)="languageLayer.open()"
          ></div>
        </div>
      </button>
      <button type="button" class="button nav-icon-container transparent">
        <div class="icogram">
          <div
            class="icon mdi mdi-message-outline large-icon nav-icon"
            aria-hidden="true"
            role="img"
          ></div>
        </div>
      </button>
      <button type="button" class="button nav-icon-container transparent">
        <div class="icogram">
          <div
            class="icon mdi mdi-map-marker-outline large-icon nav-icon"
            aria-hidden="true"
            role="img"
          ></div>
        </div>
      </button>
      <button
        type="button"
        class="button nav-icon-container transparent"
        (click)="this.navigate('/profile')"
      >
        <div class="icogram">
          <div
            class="icon mdi mdi-account-outline large-icon nav-icon"
            aria-hidden="true"
            role="img"
          ></div>
        </div>
      </button>
      <div class="cart-icon-container">
        <vcl-badge
          class="cart-count-badge"
          vclRounded
          *ngIf="cartItemCount > 0"
          >{{ cartItemCount }}</vcl-badge
        >
        <button type="button" class="button nav-icon-container transparent">
          <div class="icogram">
            <div
              class="icon mdi mdi-cart-outline large-icon nav-icon cart-icon"
              aria-hidden="true"
              role="img"
              (click)="cartLayer.open()"
            ></div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- Application layers! -->

  <!-- the language layer -->
  <ng-template vclLayer #languageLayer="vclLayer">
    <vcl-panel-dialog
      [showCloseButton]="true"
      (close)="languageLayer.close()"
      class="pos-cart-absolute p-4"
    >
      <vcl-panel-title>{{ "TopBar.PanelTitle" | translate }}</vcl-panel-title>
      <h3>{{ "TopBar.SecondaryHeading" | translate }}</h3>
      <vcl-form-control-group>
        <vcl-select>
          <vcl-select-list [(value)]="this.language">
            <vcl-select-list-item value="de">
              {{ "TopBar.DeliveryLocationDe" | translate }}
            </vcl-select-list-item>
            <vcl-select-list-item value="en">
              {{ "TopBar.DeliveryLocationUk" | translate }}
            </vcl-select-list-item>
          </vcl-select-list>
        </vcl-select>
      </vcl-form-control-group>
      <h3>{{ "TopBar.Language" | translate }}</h3>
      <vcl-form-control-group>
        <vcl-select>
          <vcl-select-list [value]="this.language" [disabled]="true">
            <vcl-select-list-item value="de">
              {{ "TopBar.LanguageDe" | translate }}
            </vcl-select-list-item>
            <vcl-select-list-item value="en">
              {{ "TopBar.LanguageEn" | translate }}
            </vcl-select-list-item>
          </vcl-select-list>
        </vcl-select>
      </vcl-form-control-group>
      <h3>{{ "TopBar.Currency" | translate }}</h3>
      <vcl-form-control-group>
        <vcl-select>
          <vcl-select-list [value]="this.language" [disabled]="true">
            <vcl-select-list-item value="de">
              {{ "TopBar.CurrencyEur" | translate }}
            </vcl-select-list-item>
            <vcl-select-list-item value="en">
              {{ "TopBar.CurrencyPound" | translate }}
            </vcl-select-list-item>
          </vcl-select-list>
        </vcl-select>
      </vcl-form-control-group>
      <div class="row">
        <button
          vcl-button
          class="flex"
          (click)="this.setLanguage(); languageLayer.close()"
        >
          <vcl-icogram>
            {{ "TopBar.Apply" | translate }}
          </vcl-icogram>
        </button>
      </div>
    </vcl-panel-dialog>
  </ng-template>

  <!-- the cart layer -->
  <ng-template vclLayer #cartLayer="vclLayer">
    <vcl-panel-dialog class="pos-cart-absolute p-4" [showCloseButton]="false">
      <vcl-panel-title
        class="row justify-content-between align-items-center cart-panel-title"
      >
        <span>
          {{ "TopBar.OrderOverview" | translate }}
        </span>

        <button
          type="button"
          class="button transparent"
          (click)="cartLayer.close()"
        >
          <div class="icogram">
            <span class="text">X</span>
          </div>
        </button>
      </vcl-panel-title>

      <app-cart-layer-contents
        [cartLayer]="cartLayer"
      ></app-cart-layer-contents>
    </vcl-panel-dialog>
  </ng-template>

  <!-- the menu layer -->
  <ng-template vclLayer #menuLayer="vclLayer">
    <vcl-panel-dialog
      [showCloseButton]="true"
      (close)="menuLayer.close()"
      class="pos-menu-absolute p-4"
    >
      <vcl-panel-title>
        <app-menu-layer-title
          [menuLayer]="menuLayer"
          [languageLayer]="languageLayer"
          [cartLayer]="cartLayer"
        ></app-menu-layer-title>
      </vcl-panel-title>
      <app-menu-layer-content></app-menu-layer-content>
    </vcl-panel-dialog>
  </ng-template>
</div>
