.top-bar-container {
  background-color: white;
  border-bottom: 1px black solid;
}

.vertical-center {
  justify-content: center;
  align-content: center;
  display: flex;
}

.icon {
 line-height: 1.5;
}

.large-icon {
  font-size: 35px;
}

.logo {
  height: auto; 
  width: 80px; 
  cursor: pointer;
}

h4 {
  padding-left: 1rem;
}

h4:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.pos-cart-absolute {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  height: 100% !important;
  margin: 0 !important;
}

.pos-menu-absolute {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  margin: 0 !important;
}