.top-bar-container {
  background-color: black;
  height: 45px;
  padding: 0 1rem;
}

.top-bar-nav {
  height: 100%;
}

.vertical-center {
  justify-content: center;
  align-content: center;
  display: flex;
}

.icon {
  line-height: 1.5;
}

.large-icon {
  font-size: 35px;
}

.logo {
  height: 26px;
  cursor: pointer;
}

h4 {
  padding-left: 1rem;
}

h4:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.pos-cart-absolute {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  height: 100% !important;
  margin: 0 !important;
}

.pos-menu-absolute {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  margin: 0 !important;
}

.top-bar-search-container {
  position: relative;
}

.top-bar-search {
  box-sizing: content-box;
  border: none;
  color: black;
  background-color: rgb(245, 245, 245);
  height: 30px;
  border-radius: 15px;
  text-indent: 10px;
  font-size: 13px;
  padding-right: 40px;
}

.top-bar-search::placeholder {
  color: gray;
}

.top-bar-search:focus {
  outline-width: 0;
}

.search-icon {
  position: absolute;
  right: 10px;
  bottom: -2px;
  font-size: 24px;
}

.hamburger-icon {
  font-size: 25px;
  display: none;
}

.cart-icon {
  font-size: 25px;
}

.nav-icon {
  font-size: 25px;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .home-icon-container {
    display: none;
  }

  .hamburger-icon {
    display: inline-block;
  }

  .nav-icon-container {
    display: none;
  }

  .men-women-container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}
