.checkout-forms-header {
  box-sizing: border-box;
  height: 65px;
  background-color: #f6f6f6;
  margin: 0;
  padding: 12px 30px;
}

.header-num {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

h3 {
  margin: 0;
  font-size: 13px;
}

p {
  margin-bottom: 0;
}

.content-container {
  background-color: white;
  padding: 40px 60px;
}
