<h2 class="checkout-forms-header"><span class="header-num">01</span>{{ "Checkout.PersonalData" | translate }}</h2>
<div class="content-container">
  <h3>{{ "Checkout.DeliveryOption" | translate }}</h3>
  <p>Lieferung nach Hause</p>
  <h3>{{ "Checkout.DeliveryAdress" | translate }}</h3>
  <p>Mr</p>
  <p>Max Mustermann</p>
  <p>Boardwalk 1</p>
  <p>10001 New York</p>
  <p>USA</p>
  <p>maxmustermann@gmail.com</p>
</div>
<h2 class="checkout-forms-header"><span class="header-num">02</span>{{ "Checkout.Payment" | translate }}</h2>
<div class="content-container">
blablabla
</div>