.newsletter-teaser-banner {
  background-image: url("https://image.shutterstock.com/image-vector/white-geometrical-shape-podium-floor-600w-1970895380.jpg");
  background-color: dimgray;
  height: 280px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
}
