<vcl-navigation layout="horizontal">
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Men" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Women" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
</vcl-navigation>
<hr />
<vcl-navigation>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Women" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Dress" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Shoes" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Accessories" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Suit" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Specials" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Gifts" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Children" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
  <vcl-navigation-item>
    <vcl-navigation-label>
      <vcl-icogram>
        {{ "Navigation.Inspiration" | translate }}
      </vcl-icogram>
    </vcl-navigation-label>
  </vcl-navigation-item>
</vcl-navigation>
