.checkout-forms-header {
  box-sizing: border-box;
  height: 65px;
  background-color: #f6f6f6;
  margin: 0;
  padding: 12px 30px;
}

.checkout-forms-sub-header {
  box-sizing: border-box;
  height: 65px;
  background-color: white;
  margin: 0;
  padding: 20px 30px;
}

.header-num {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.content-container {
  background-color: white;
  padding: 40px 60px;
}

.find-store {
  color: black;
  background-color: white;
  border: 1px solid black;
  height: 60px;
  width: 150px;
}

.go-to-payment {
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .content-container {
    padding: 40px 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-container {
    padding: 40px 15px;
  }
}