.product-navigation-container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.product-share-button {
  padding-top: 0.5rem;
}

@media screen and (max-width: 1400px) {
  .product-navigation-container {
    margin: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .product-navigation-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}