<div class="navigation-container">
  <vcl-navigation
    *ngIf="categories$ | async"
    layout="horizontal"
    class="row justify-content-center"
    style="text-align: center"
  >
    <vcl-navigation-item>
      <vcl-navigation-label class="navigation-item">
        {{ "Navigation.NewIn" | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label class="navigation-item">
        {{ "Navigation.Clothing" | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item (click)="this.navigate('/shoes')">
      <vcl-navigation-label class="navigation-item">
        {{ "Navigation.Shoes" | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <!--<vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Accessories' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Suit' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Specials' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Gifts' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Children' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>
    <vcl-navigation-item>
      <vcl-navigation-label>
        {{ 'Navigation.Inspiration' | translate }}
      </vcl-navigation-label>
    </vcl-navigation-item>-->
  </vcl-navigation>
</div>
