.navigation-container {
  color: #f6f6f6;
  background-color: black;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigation {
  margin-bottom: 0;

  .navigation-item {
    color: white;

    &.selected {
      & > .navigation-item-label {
        color: red;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navigation-container {
    display: none;
  }
}
