.favorite {
  color: salmon;
  background-color: white;
  border: lightgray solid 1px;
  width: 30px;
  height: 30px;
}

.favorite:hover {
  color: red;
}

h2 {
  font-size: 20px;
}

.color-button {
  margin-left: 1em;
  height: 2rem; 
  width: 2rem;
  border: none;
}

.black-button {
  background-color: black;
}

.brown-button {
  background-color: brown;
}

.white-button {
  background-color: lightgray;
}

.button-selected {
  height: 2.2rem !important;
  width: 2.2rem !important;
  border: 3px solid grey;
}

.colored-buttons-container {
  margin-bottom: 0;
}

.chosen-color-name {
  margin-bottom: 0;
}

.badge {
  padding: 0.5rem;
}

.add-to-cart-section {
  text-align: center;
  margin-top: 7px;
}

.add-to-cart-button-container {
  margin-bottom: 7px;
}

.add-to-cart-button {
  width: 100%;
}

.delivery-time {
  color: green;
}

.tooltip-arrow {
  position: relative;
  border-style: none;
}

.tooltip-text {
  text-align: center;
  background-color:#80BA27;
  border-style: none;
}

.tooltip-pointer {
  background-color: #80BA27;
  top: 0; 
  left: 50%; 
  z-index: 301;
  border-style: none;
}

.price-container-text {
  margin-bottom: 0;
}
