<div class="row">
  <div class="flex-12">
    <h2>
      {{ product.title }}
    </h2>
    <p>
      {{ product.description }}
    </p>
    <div class="row justify-content-between bestseller-like-container">
      <div>
        <span *ngIf="product.isBestSeller">
          <vcl-badge vclRounded type="primary" class="badge">{{
            "ProductInformation.Bestseller" | translate
          }}</vcl-badge>
        </span>
      </div>
      <button vcl-square-button class="circular favorite">
        <vcl-icon icon="fas:heart"></vcl-icon>
      </button>
    </div>
  </div>
</div>
<app-product-interest></app-product-interest>
<hr />
<div class="row">
  <div class="flex align-left">
    <p class="price-container-text">
      {{ "Price" | translate }}
    </p>
  </div>
  <div class="flex align-right">
    <p class="price-container-text">
      <b>{{ product.price | currency: "EUR":true }}</b>
    </p>
  </div>
</div>
<hr />
<div class="row justify-content-between align-items-center">
  <div>
    <p class="chosen-color-name">
      <b>{{ "ProductInformation.Color" | translate }}</b>
      {{ product.selectedColor }}
    </p>
  </div>
  <div>
    <div class="colored-buttons-container row align-items-center">
      <button
        vcl-square-button
        class="circular color-button"
        *ngFor="let color of product.colors"
        (click)="onChangeProductColor(color)"
        [ngClass]="{
          'button-selected': product.selectedColor === color,
          'button-border': product.selectedColor !== color
        }"
        [ngStyle]="{ backgroundColor: color }"
      ></button>
    </div>
  </div>
</div>
<hr />
<p>
  <b>{{ "ProductInformation.Material" | translate }}:</b>
  {{ product.materialInfo }}
</p>
<hr />

<app-product-size-picker
  [sizeArray]="product.availableSizes"
  (sizeSelected)="onSizeSelected($event)"
></app-product-size-picker>

<hr style="margin-bottom: 0" />
<app-product-description></app-product-description>
<hr style="margin-top: 0" />
<div class="add-to-cart-section">
  <div class="add-to-cart-button-container">
    <button vcl-button class="add-to-cart-button" (click)="addItemToCart()">
      <vcl-icogram>
        <vcl-icon vclAppend icon="fas:cart-plus"></vcl-icon>
        {{ "ProductInformation.Cart" | translate }}
      </vcl-icogram>
    </button>
  </div>
  <span class="delivery-time">{{
    "ProductInformation.ProductDelivery" | translate
  }}</span>
</div>
<div class="add-to-cart-section">
  <div class="tooltip" role="tooltip">
    <div class="tooltip-content tooltip-text">
      <p>
        <b>{{ "ProductInformation.ShopOnline" | translate }}</b>
      </p>
      <p>{{ "ProductInformation.IfStyleDoesntSuit" | translate }}</p>
    </div>
    <div class="arrow-pointer tooltip-pointer"></div>
  </div>
</div>
