<section class="content-area" role="main">
  <h1>Kundenservice</h1>
  <h3>Reklamation</h3>
  <p>STORE steht für hohe Qualität. Sollte eines unserer Produkte dennoch einmal mangelhaft sein, stehen Ihnen selbstverständlich Gewährleistungsrechte zu. Die Einzelheiten Ihrer Gewährleistungsrechte entnehmen Sie bitte unseren AGB (§ 8 Gewährleistung).</p>
  <p>Grundsätzlich können Sie im STORE Online Store nur Produkte reklamieren, die Sie bei uns online gekauft haben. Die Reklamation von Ware aus dem STORE Online Store im stationären Einzelhandel ist aktuell leider noch nicht möglich. Für anderweitig erworbene Artikel, bitten wir Sie, sich direkt an Ihren Händler zu wenden, bei dem Sie das Produkt erworben haben. Dieser kann Ihnen ggf. vor Ort eine Lösung anbieten und die Weiterleitung an den STORE Kundenservice für Sie übernehmen.</p>
  <p>Die Schritte für die Reklamation finden Sie unter dem Punkt Rücksendung.</p>
  <p>Die Adresse für Ihre Online Store Rücksendungen lautet:</p>
  <p>STORE Online Store<br/>
    - Retouren -<br/>
    DC Wendlingen<br/>
    Ulmer Str. 171<br/>
    73240 Wendlingen<br/>
    Deutschland<br/>
  </p>
  <p>Bitte kontaktieren Sie unseren Kundenservice Team, falls Sie den kostenfreien Retourenaufkleber nicht mehr zur Hand haben.</p>
</section>
