<div class="service-teaser-container"> 
  <div class="row">
    <div class="flex teaser-button">
      <button type="button" class="button transparent" (click)="this.navigate('/delivery')">
        <div class="icogram">
          <div class="icon mdi mdi-truck" aria-hidden="true" role="img"></div>
          <span class="text">{{ 'FreeDelivery' | translate }}</span>
        </div>
      </button>
    </div>
    <div class="flex teaser-button">
      <button type="button" class="button transparent" (click)="this.navigate('returns')">
        <div class="icogram">
          <div class="icon mdi mdi-package-variant" aria-hidden="true" role="img"></div>
          <span class="text">{{ 'FreeReturns' | translate }}</span>
        </div>
      </button>
    </div>
    <div class="flex teaser-button">
      <button type="button" class="button transparent" (click)="this.navigate('/click-and-collect')">
        <div class="icogram">
          <div class="icon mdi mdi-shopping" aria-hidden="true" role="img"></div>
          <span class="text">{{ 'ClickAndCollectBanner' | translate }}</span>
        </div>
      </button>
    </div>
  </div>
</div>
