<section class="content-area" role="main">
  <h1>{{ "Delivery.CustomerService" | translate }}</h1>
  <h3>{{ "Delivery.DeliveryOptions" | translate }}</h3>
  <p>{{ "Delivery.DHLIsOurShipping" | translate }}</p>
  <p>{{ "Delivery.AllOrdersAreSent" | translate }}</p>
  <p>{{ "Delivery.TheTableBelow" | translate }}</p>
  <p>{{ "Delivery.IfDeliveryDosesNotMeet" | translate }}</p>
  <p>{{ "Delivery.YouCanAlsoEnter" | translate }}</p>
  <p>{{ "Delivery.Note" | translate }}</p>
  <p>{{ "Delivery.IfSpecialConditions" | translate }}</p>
</section>
