@use "normalize.css" as normalize;

@use "./styles/theme/storefront-theme";

@use "@vcl/vcl";

@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/brands" with (
  $fa-font-path: "~@fortawesome/fontawesome-free/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/solid" with (
  $fa-font-path: "~@fortawesome/fontawesome-free/webfonts"
);

@use "@mdi/font/scss/materialdesignicons" with (
  $mdi-font-path: "~@mdi/font/fonts"
);

@import "@angular/cdk/overlay-prebuilt";
@import "@angular/cdk/a11y-prebuilt";

@import "./styles/app";
