.checkout {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 0 100px;
}

.app-order-overview {
  width: 33.3%;
}

.checkout-forms {
  width: 66.6%;
}

@media only screen and (max-width: 1024px) {
  .checkout {
    flex-direction: column;
    align-items: center;
  }

  .app-order-overview {
    margin-bottom: 30px;
    width: 100%;
  }

  .checkout-forms {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .checkout {
    padding: 0 20px;
  }
}