.navigation-container {
  color: black;
  background-color: #f6f6f6;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navigation {
  margin-bottom: 0;
}

.navigation-item {
  color:black;
}

@media only screen and (max-width: 1024px) {
  .navigation-container {
    display: none;
  }
}
