<div class="column align-centered product" (click)="onProductClicked()">
  <div class="row justify-between product-header">
    <div class="row additional-label" *ngIf="product.additionalLabel">
      <div class="text">{{ product.additionalLabel }}</div>
      <div class="rounded-right"></div>
    </div>
    <i
      class="fas fa-heart like"
      [class.liked]="product.like"
      (click)="product.like = !product.like"
    ></i>
  </div>
  <picture class="image-wrapper">
    <source
      class="image"
      *ngFor="let media of responsiveImagesConfiguration"
      [media]="
        '(max-width: ' + media.max + 'px) and (min-width: ' + media.min + 'px)'
      "
      [srcset]="product.images[product.selectedColor]"
      [type]="'image/' + media.format"
    />
    <img
      class="image"
      alt="product image"
      [src]="product.images[product.selectedColor]"
    />
  </picture>
  <div
    class="row center justify-center spinner-wrapper"
    *ngIf="!product.images[product.selectedColor]"
  >
    <i class="fas fa-spinner spinner"></i>
  </div>
  <div class="row justify-center colors">
    <div
      class="row color-wrapper"
      *ngFor="let color of product.colors"
      [class.color-selected]="color === product.selectedColor"
      (click)="onChangeProductColor(color)"
      click-stop-propagation
    >
      <div class="color" [style.background-color]="color"></div>
    </div>
  </div>
  <div class="title">{{ product.title }}</div>
  <div class="row justify-center price">
    {{ product.price | currency: currency }}
  </div>
</div>
