:host {
  background-color: white;
  width: calc(33.333333% - 30px);
  display: flex;
  flex-direction: column;

  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0.2rem;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  @media (max-width: 1100px) {
    width: calc(50% - 30px);
  }
  @media (max-width: 700px) {
    width: calc(100% - 30px);
  }
}

.product {
  width: 100%;
  height: 100%;
  flex: 1;

  .product-header {
    .additional-label {
      margin-left: -10px;
      max-height: 0px;
      margin-top: 4px;

      .text {
        text-transform: uppercase;
        font-family: Univers, sans-serif;
        font-weight: 300;
        font-size: 12px;
        background-color: rgba(238, 238, 238, 0.7);
        padding: 3px 0 1px 10px;
      }

      .rounded-right {
        background-color: red;
        border: 1px solid transparent;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        width: 21px;
        background-color: rgba(238, 238, 238, 0.7);
      }
    }

    .like {
      font-size: 18px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      cursor: pointer;
      border: 1px solid #dddddd;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      text-indent: -1px;
      line-height: 31px;
      margin-left: auto;

      &:hover,
      &.liked {
        -webkit-text-fill-color: black;
      }
    }
  }

  .image-wrapper {
    width: 100%;
    display: block;

    .image {
      width: 100%;
      cursor: pointer;
    }
  }

  .colors {
    margin-top: 5px;
    max-height: 26px;

    .color-wrapper {
      margin: 2px;
      cursor: pointer;

      .color {
        width: 21px;
        height: 21px;
        background-color: white;
        border: 1px solid rgb(153, 153, 153);
        border-radius: 50%;
      }

      padding: 2px;
      border: 1px solid white;
      border-radius: 50%;

      &.color-selected,
      &:hover {
        border: 1px solid rgb(153, 153, 153);
      }
    }
  }

  .title {
    font-family: Univers, sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 12px;
  }

  .price {
    font-family: Univers, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;

    &::first-letter {
      padding-right: 7px;
    }
  }

  .spinner-wrapper {
    min-height: 446px;
    .spinner {
      font-size: 40px;
    }
  }
}
