<div class="product" (click)="onProductClicked()">
  <div class="">
    <div class="" *ngIf="product.additionalLabel">
      <div class="">{{ product.additionalLabel }}</div>
      <div class=""></div>
    </div>
    <i
      class="fas fa-heart like"
      [class.liked]="product.like"
      (click)="product.like = !product.like"
    ></i>
  </div>
  <picture class="">
    <source
      class=""
      *ngFor="let media of responsiveImagesConfiguration"
      [media]="
        '(max-width: ' + media.max + 'px) and (min-width: ' + media.min + 'px)'
      "
      [srcset]="product.images[product.selectedColor]"
      [type]="'image/' + media.format"
    />
    <img
      class=""
      alt="product image"
      [src]="product.images[product.selectedColor]"
    />
  </picture>
  <div class="" *ngIf="!product.images[product.selectedColor]">
    <i class="fas fa-spinner spinner"></i>
  </div>
  <div class="">
    <div
      class=""
      *ngFor="let color of product.colors"
      [class.color-selected]="color === product.selectedColor"
      (click)="onChangeProductColor(color)"
      click-stop-propagation
    >
      <div class="" [style.background-color]="color"></div>
    </div>
  </div>
  <div class="">{{ product.title }}</div>
  <div class="">
    {{ product.price | currency: currency }}
  </div>
</div>
