:host {
  width: 50%;
  border: 1px solid red;
  margin: auto;
  box-sizing: border-box;
}

.cookie-container {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 1.5rem;

  position: relative;

  .globe-icogram {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    .icon {
      font-size: 24px;
    }
  }

  .pos-language-dialog-absolute {
    position: absolute;
    top: 0;
    right: 0;
  }

  .subtitle {
    font-weight: 800;
  }

  .description {
    font-size: 1.05rem;
    color: #444;
  }

  .button-container {
    .save {
      width: 100%;
      font-size: 1rem;
    }

    .save-options {
      background-color: #eee;
      border: 1px solid #bbb;
      color: #111;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cookie-container {
    width: 99%;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
  }
}
