.details-button {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 15px 0;
}

.details-button:focus {
  border: 1px dotted black;
}

.details-button p {
  margin-bottom: 0;
}

.product-description-container {
  margin-top: 7px;
}